* {
    font-family: "Dosis", sans-serif;   
}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "Dosis", sans-serif;
}

:root{
    --Black: rgb(46,46,46);
    --White: rgb(240,240,240);
    --Mybrown: rgb(157,82,72);
}

.bg-Black {
    background-color: var(--Black);
}

.bg-White {
    background-color: var(--White);
}

.bg-Mybrown {
    background-color: var(--Mybrown);
}

.txt-Black {
    color: var(--Black);
}
.txt-White {
    color: var(--White);
}
.txt-Mybrown {
    color: var(--Mybrown);
}

/*CSS NAVBAR*/

.nav-custom {
   background-color: var(--White);
   min-height: 80px;
   position: fixed;
   top: 0;
   width: 100%;
   transition: 0.5s;
   z-index: 10;
}

/*SCROLLED NAVBAR*/
.nav-blur {
    backdrop-filter: blur(4px) saturate(0.8);
    background: rgba(100,100,100,0.9);
    border-bottom: 3px solid var(--Mybrown);
}

.img-logo {
    height: 52px;
    width: 64px;
}

.nav-link {
    color:var(--Black);
}

/*HEADER*/

.HomeHeader {
   height:100vh;
   background: linear-gradient(rgb(240,240,240), rgba(250,250,250, 0.0)), url(./media/header1.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   margin-top: 80px;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-custom {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--Mybrown);
    border-radius: 0;
    width: 16rem;
    outline: none;
}

.btn-custom{
    height: 30px;
    width: 90px;
    border: unset;
    border-radius: 0;
    color: var(--Black);
    background: transparent;
    z-index: 1;
    position: relative;
    transition: all 450ms;
    overflow: hidden;
}

.btn-custom::before{
    content: "";
    position: absolute;
    top: 95%;
    left: 0;
    height: 100%;
    width: 0px;
    border-radius: 0;
    background-color: var(--Mybrown);
    z-index: -1;
    transition: all 450ms;
}

.btn-custom:hover {
    color: var(--Mybrown);
}

.btn-custom:hover::before{
    width: 100%;
}

/*MAIN*/

.descnum {
  overflow: hidden;
}

.main-img1{
    background-image: url("./media/dressgirl.png");
    height: 70vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-txt1{
    background-color: var(--White);
}

.main-img2{
    background-image: url("./media/shoes.png");
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-txt2{
    background-color: var(--White);
}


.myLead {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.numbers {
  z-index: 1;
  opacity: 0.2;
  font-size: 300px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.myFirstBox{
  height: 70vh;
}

/*SWIPER*/

.swiper {
    width: 100%;
    height: 100%;
    background: #000;
  }

  .swiper-slide {
    font-size: 18px;
    color: var(--Black);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(./media/swiperimg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 500;
  }

  .swiper-slide .subtitle {
    font-size: 24px;
    font-weight: 500;

  }

  .swiper-slide .text {
    font-size: 20px;
    max-width: 400px;
    line-height: 1.3;
  }

  .form-custom2 {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--Mybrown);
    border-radius: 0;
    width: 100%;
    outline: none;
  }

  .swiper-button-prev{
    color: var(--Mybrown);
  }
  .swiper-button-next{
    color: var(--Mybrown);
  }

  .swiper-pagination-bullet {
    background: var(--Mybrown);
  }

  /*ANNUNCI*/

  .headerAnnunci{
    margin-top: 120px;
  }

  .customAccButton {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--Mybrown);
    border-radius: 0;
    width: 100%;
    outline: none;
  }



.accordion {
    --bs-accordion-border-color: var(--White);
    --bs-accordion-border-radius: 0;
    --bs-accordion-active-bg: var(--White);
    --bs-accordion-active-color: var(--Black);
    --bs-accordion-btn-focus-box-shadow: transparent;
}

.form-check-input[type="radio"] {
    box-shadow: none;
  }

.form-check-input[type="radio"]:checked {
    background-color: var(--Mybrown);
    color: var();
    box-shadow: none;
    border: 0;
}

.imgCard {
    border-bottom: 1px solid var(--Mybrown);
    border-radius: 0;
}

.myCard{
    border-radius: 0;
    border: 1px solid var(--White);
}

.txtPrice{
    transform: skewX(-10deg);
}

.myRange {
    width: 100%;
    accent-color: var(--Mybrown);
}

.descriptionBox {
    color: var(--Mybrown);
}

.imgBoxInfo {
    height: 150px;
    width: 150px;
}

.infoBox{
    border-right: 1px solid var(--Mybrown);
}
  
.foot{
    margin-top: 60px;
    background-color: var(--Mybrown);
  }

  .foot ul {
    list-style: none;
  }

  .footCol {
    border-left: 1px solid var(--White);
  }

  .footBox{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .copy{
    background-color: var(--Black);
    color: var(--White);
  }